h1 {
    margin-bottom: 1rem;
    font-size: 6rem;
    font-family: "Road Rage";
    font-weight: 100;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.top-bar {
  /* background-color: #e43636; */
  color: white;
  padding: 10px;
  text-align: center;
}

.page-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  /* background-color: #e43636; */
}
